.header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(black, .4) 40%, transparent 100%), url("../images/school.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  position: relative;

    &__heading-box {
      position: absolute;
      top: 35%;
      left: 10%;
      transform: translate(-10%, -35%);
    }

    &__heading {
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      text-shadow: 0 .5rem 1rem rgba(black, .75);

        &--primary {
          font-size: 10rem;
        }

        &--secondary {
          font-size: 7rem;
          transform: translate(10%, -40%);
        }

        span {
          color: $color-primary-light;
        }
    }
}

.section-description {
  width: 100%;
  height: auto;
  background-color: $color-grey-light-2;
  padding: 8rem 0;
  margin-top: -5rem;
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: $color-grey-light-1;

    &__left {
      flex: 0 1 30%;
      background-image: url("../images/students.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 0);
      transition: all .15s;

        &:hover {
          filter: sepia(10%);
        }
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 2rem;
    }

    &__text {
      text-align: center;
      width: 75%;
    }
}

.section-fields {
  width: 100%;
  height: 80rem;
  position: relative;
}

.fields {
  width: 100%;
  height: 100%;
  background-color: $color-grey-light-1;
  padding: 8rem;
}