.header {
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(black, .4) 40%, transparent 100%), url("../images/background.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  position: relative;

    &__heading-box {
      position: absolute;
      top: 35%;
      left: 10%;
      transform: translate(-10%, -35%);
    }

    &__heading {
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      text-shadow: 0 .5rem 1rem rgba(black, .75);

        &--primary {
          font-size: 10rem;
        }

        &--secondary {
          font-size: 7rem;
          transform: translate(10%, -40%);
        }

        span {
          color: $color-primary-light;
        }
    }
}