.u-margin-top-bg {
  margin-top: 6rem;
}

.u-margin-top-md {
  margin-top: 4rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-top-xs {
  margin-top: 1rem;
}

.u-margin-bottom-bg {
  margin-bottom: 6rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-bottom-xs {
  margin-bottom: 1rem;
}

.u-center-text {
  text-align: center;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  max-width: 100vw;
  max-height: 100vh;
}

.heading-primary {
  font-size: 4.2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  display: inline-block;
}

.heading-secondary {
  font-size: 4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #33adff, #007ed2);
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.25s;
}
.heading-secondary:hover {
  letter-spacing: 3px;
}

.heading-quaternary {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #777;
  display: inline-block;
}

.paragraph {
  font-size: 1.6rem;
  color: #777;
}

.nav {
  height: 8rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #000;
  z-index: 100;
}
.nav__logo-box {
  height: 100%;
  width: auto;
}
.nav__logo {
  height: 100%;
  width: auto;
}
.nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav__item {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav__item:last-child {
  margin-right: 4rem;
}
.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #33adff;
  transform: scaleX(0);
  transition: all 0.05s;
}
.nav__item:hover::before {
  transform: scaleX(1);
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 3rem 4rem;
  color: #DCDCDC;
  transition: color 0.05s;
  font-weight: 700;
}
.nav__item:hover > .nav__link {
  color: #33adff;
}

.btn-text:link, .btn-text:visited {
  color: #0099ff;
  text-decoration: none;
  border-bottom: 1px solid #0099ff;
  font-size: 1.6rem;
  padding: 0.5rem;
  transition: all 0.15s;
}
.btn-text:hover {
  background-color: #0099ff;
  color: #f4f2f2;
}

.header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, transparent 100%), url("../images/background.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  position: relative;
}
.header__heading-box {
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-10%, -35%);
}
.header__heading {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.header__heading--primary {
  font-size: 10rem;
}
.header__heading--secondary {
  font-size: 7rem;
  transform: translate(10%, -40%);
}
.header__heading span {
  color: #33adff;
}

.section-description {
  width: 100%;
  height: auto;
  background-color: #DCDCDC;
  padding: 8rem 0;
  margin-top: -5rem;
}

.description {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
  background-color: #f4f2f2;
}
.description__left {
  display: table-cell;
  width: 40%;
  background-image: url("../images/students.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}
.description__right {
  display: table-cell;
  width: 60%;
  vertical-align: top;
}
.description__image {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: all 0.25s ease-out;
}
.description__image:hover {
  transform: scale(1.1);
}
.description__text {
  width: 75%;
  margin: 0 auto 2rem auto;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row--small-margin:not(:last-child) {
  margin-bottom: 2rem;
}
.row--background {
  background-color: rgba(255, 255, 255, 0.85);
}
.row--padding {
  padding: 2rem 5rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem));
}

/*# sourceMappingURL=style.css.map */
