.u-margin-top-bg {
  margin-top: 6rem;
}

.u-margin-top-md {
  margin-top: 4rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-top-xs {
  margin-top: 1rem;
}

.u-margin-bottom-bg {
  margin-bottom: 6rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-bottom-xs {
  margin-bottom: 1rem;
}

.u-center-text {
  text-align: center;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  max-width: 100vw;
  max-height: 100vh;
}

.heading-primary {
  font-size: 4.2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  display: inline-block;
}

.heading-secondary {
  font-size: 4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #33adff, #007ed2);
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.25s;
}
.heading-secondary:hover {
  letter-spacing: 3px;
}

.heading-tertiary {
  font-size: 2.4rem;
  color: #3C3C3C;
}

.heading-quaternary {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #777;
  display: inline-block;
}

.paragraph {
  font-size: 1.6rem;
  color: #777;
}

.nav {
  height: 8rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  z-index: 100;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav__item {
  display: block;
  align-self: stretch;
  position: relative;
}
.nav__button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: unset;
  cursor: pointer;
}
.nav__button:hover > .nav__link {
  color: #33adff;
}
.nav__link:link, .nav__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding: 3rem 4rem;
  color: #DCDCDC;
  font-weight: 700;
  transition: all 0.15s;
}
.nav__link--dropdown:link, .nav__link--dropdown:visited {
  position: relative;
  padding: 2rem 3rem;
  width: 100%;
  transition: all 0.15s;
}
.nav__link--dropdown:hover {
  background-color: #0099ff;
}
.nav__dropdown {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s;
  background-color: #0F0F0F;
}
.nav__dropdown:hover {
  visibility: visible;
  opacity: 1;
}
.nav__dropdown--expand {
  display: block;
  background-color: #141414;
  position: absolute;
  top: 0;
  left: 100%;
  width: 25rem;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s;
}
.nav__dropdown-icon {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  height: 1.25rem;
  width: 1.25rem;
  fill: #A9A9A9;
  transition: all 0.15s;
  backface-visibility: hidden;
}
.nav__link--dropdown:hover > .nav__dropdown-icon {
  transform: translateX(1rem) translateY(-50%) translateZ(0);
}
.nav__dropdown::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #33adff;
  transform: scaleX(0);
  transition: all 0.15s;
}
.nav__dropdown--expand::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #33adff;
  transform: scaleY(0);
  transition: all 0.05s;
}
.nav__dropdown-item--expand:hover > .nav__dropdown--expand::before {
  transform: scaleY(1);
}
.nav__dropdown-item--expand:hover > .nav__dropdown--expand {
  visibility: visible;
  opacity: 1;
}
.nav__button:hover + .nav__dropdown::before {
  transform: scaleX(1);
}
.nav__dropdown:hover::before {
  transform: scaleX(1);
}
.nav__button:hover + .nav__dropdown {
  visibility: visible;
  opacity: 1;
}
.nav__dropdown-list {
  list-style: none;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__dropdown-item {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
}

.btn-text:link, .btn-text:visited {
  color: #0099ff;
  text-decoration: none;
  border-bottom: 1px solid #0099ff;
  font-size: 1.6rem;
  padding: 0.5rem;
  transition: all 0.15s;
}
.btn-text:hover {
  background-color: #0099ff;
  color: #f4f2f2;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 100px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.15s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  border: none;
  cursor: pointer;
}
.btn--white {
  background-color: #fff;
  color: #3C3C3C;
}
.btn--gradient {
  background-image: linear-gradient(to right bottom, #33adff, #007ed2);
  color: #f4f2f2;
}
.btn:hover {
  transform: translateY(-0.4rem) translateZ(0);
  box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(0rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.card {
  height: 25rem;
  position: relative;
  perspective: 150rem;
}
.card__side {
  height: 25rem;
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
}
.card__side--front {
  background-color: #ffffff;
}
.card__side--back {
  transform: rotateX(-180deg);
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #33adff, #007ed2);
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #00cc00, #006600);
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #a64dff, #8000ff);
}
.card__side--back--4 {
  background-image: linear-gradient(to right bottom, #ff0000, #990000);
}
.card:hover .card__side--front {
  transform: rotateX(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  height: 25rem;
  background-size: cover;
  background-blend-mode: soft-light;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #33adff, #007ed2), url("../images/students.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #00cc00, #006600), url("../images/students.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #a64dff, #8000ff), url("../images/students.jpg");
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #ff0000, #990000), url("../images/students.jpg");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  transform: translateZ(0);
  padding: 0.5rem;
  border-radius: 3px;
  position: absolute;
  bottom: 4rem;
  right: 0;
}
.card__heading--1 {
  background-image: linear-gradient(to right bottom, rgba(51, 173, 255, 0.75), rgba(0, 126, 210, 0.75));
}
.card__heading--2 {
  background-image: linear-gradient(to right bottom, rgba(0, 204, 0, 0.75), rgba(0, 102, 0, 0.75));
}
.card__heading--3 {
  background-image: linear-gradient(to right bottom, rgba(166, 77, 255, 0.75), rgba(128, 0, 255, 0.75));
}
.card__heading--4 {
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.75), rgba(153, 0, 0, 0.75));
}
.card__details {
  font-size: 1.6rem;
  color: #fff;
  padding: 2.25rem 1.5rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.form {
  width: 100%;
}
.form__group {
  display: block;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  position: relative;
  font-family: "Nunito", sans-serif;
}
.form__input {
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  border: 2px solid #0099ff;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 3px;
  transition: all 0.15s;
}
.form__input--success {
  border-color: #2eec71;
}
.form__input--error {
  border-color: #e74c3c;
}
.form__input::placeholder {
  color: inherit;
}
.form__input:focus {
  border-color: #007ed2;
}
.form__group--success > .form__icon--positive {
  fill: #2eec71;
  visibility: visible;
}
.form__group--error > .form__icon--negative {
  fill: #e74c3c;
  visibility: visible;
}
.form__group--error > .form__error {
  visibility: visible;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: inherit;
  color: #777;
  font-size: 1.4rem;
  cursor: text;
}
.form__error {
  font-family: inherit;
  font-size: 1.2rem;
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form__icon {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  top: 4.1rem;
  right: 1rem;
  visibility: hidden;
}
.form__icon--positive {
  fill: green;
}
.form__icon--negative {
  fill: red;
}

.header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 40%, transparent 100%), url("../images/school.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  position: relative;
}
.header__heading-box {
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-10%, -35%);
}
.header__heading {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.header__heading--primary {
  font-size: 10rem;
}
.header__heading--secondary {
  font-size: 7rem;
  transform: translate(10%, -40%);
}
.header__heading span {
  color: #33adff;
}

.section-description {
  width: 100%;
  height: auto;
  background-color: #DCDCDC;
  padding: 8rem 0;
  margin-top: -5rem;
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: #f4f2f2;
}
.description__left {
  flex: 0 1 30%;
  background-image: url("../images/students.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 0);
  transition: all 0.15s;
}
.description__left:hover {
  filter: sepia(10%);
}
.description__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}
.description__text {
  text-align: center;
  width: 75%;
}

.section-fields {
  width: 100%;
  height: 80rem;
  position: relative;
}

.fields {
  width: 100%;
  height: 100%;
  background-color: #f4f2f2;
  padding: 8rem;
}

.verification {
  background-image: linear-gradient(to right bottom, #33adff, #007ed2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.verify {
  display: block;
  width: 50rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}
.verify__content {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: block;
}
.verify__form {
  display: block;
  margin: 0 auto;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row--small-margin:not(:last-child) {
  margin-bottom: 2rem;
}
.row--background {
  background-color: rgba(255, 255, 255, 0.85);
}
.row--padding {
  padding: 2rem 5rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem));
}

/*# sourceMappingURL=style.css.map */
