.footer {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-color: $color-grey-dark-1;

    &__content {
      width: 50%;
      height: 20rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 3rem;
    }

    &__socials {
      display: block;
    }

    &__icon-box {
      &:link, &:visited {
        text-decoration: none;
        color: #fff;
        display: inline-block;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }

    &__icon {
      height: 2.75rem;
      width: 2.75rem;
      fill: #fff;
      transition: all .05s;
      backface-visibility: hidden;
      cursor: pointer;
      box-shadow: .5 .75rem rgba(black, .2);

        &:hover {
          transform: scale(1.25) translateZ(0);
          fill: $color-primary-light;
        }
    }

    &__links {
      display: block;
    }

    &__link {
      &:link, &:visited {
        display: inline-block;
        text-decoration: none;
        font-size: 1.4rem;
        color: $color-grey-light-1;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        transition: all .05s ease-in;
        backface-visibility: hidden;
        text-shadow: 0 .5rem .75rem rgba(black, .2);

          &:hover {
            transform: scale(1.15);
            color: $color-primary-light;
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
      }
    }

    &__copyright {
      font-size: 1.2rem;
      color: $color-grey-light-1;
      text-transform: uppercase;
    }
}