.nav {
  height: 8rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  z-index: 100;

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    &__item {
      display: block;
      align-self: stretch;
      position: relative;
    }

    &__button {
      border: none;
      width: 100%;
      height: 100%;
      background-color: unset;
      cursor: pointer;
    }

    &__button:hover > &__link {
      color: $color-primary-light;
    }

    &__link {
      &:link, &:visited {
        display: inline-block;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: "Nunito", sans-serif;
        text-transform: uppercase;
        padding: 3rem 4rem;
        color: $color-grey-light-2;
        font-weight: 700;
        transition: all .15s;
      }

        &--dropdown {
          &:link, &:visited {
            position: relative;
            padding: 2rem 3rem;
            width: 100%;
            transition: all .15s;
          }

            &:hover {
              background-color: $color-primary;
            }
        }
    }

    &__dropdown {
      position: absolute;
      top: 8rem;
      left: 50%;
      transform: translateX(-50%);
      width: 30rem;
      height: auto;
      visibility: hidden;
      opacity: 0;
      transition: all .15s;
      background-color: #0F0F0F;

        &:hover {
          visibility: visible;
          opacity: 1;
        }

        &--expand {
          display: block;
          background-color: #141414;
          position: absolute;
          top: 0;
          left: 100%;
          width: 25rem;
          height: auto;
          visibility: hidden;
          opacity: 0;
          transition: all .15s;
        }
    }

    &__dropdown-icon {
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translateY(-50%);
      height: 1.25rem;
      width: 1.25rem;
      fill: $color-grey-light-3;
      transition: all .15s;
      backface-visibility: hidden;
    }

    &__link--dropdown:hover > &__dropdown-icon {
      transform: translateX(1rem) translateY(-50%) translateZ(0);
    }

    &__dropdown::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-primary-light;
      transform: scaleX(0);
      transition: all .15s;
    }

    &__dropdown--expand::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary-light;
      transform: scaleY(0);
      transition: all .05s;
    }

    &__dropdown-item--expand:hover > &__dropdown--expand::before {
      transform: scaleY(1);
    }

    &__dropdown-item--expand:hover > &__dropdown--expand {
      visibility: visible;
      opacity: 1;
    }

    &__button:hover + &__dropdown::before {
      transform: scaleX(1);
    }

    &__dropdown:hover::before {
      transform: scaleX(1);
    }

    &__button:hover + &__dropdown {
      visibility: visible;
      opacity: 1;
    }

    &__dropdown-list {
      list-style: none;
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__dropdown-item {
      width: 100%;
      display: block;
      text-align: center;
      position: relative;
    }
}