
// COLORS
$color-primary-light: #33adff;
$color-primary: #0099ff;
$color-primary-dark: #007ed2;

$color-secondary-light: #00cc00;
$color-secondary: #009900;
$color-secondary-dark: #006600;

$color-tertiary-light: #a64dff;
$color-tertiary: #8000ff;
$color-tertiary-dark: #8000ff;

$color-quartenary-light: #ff0000;
$color-quartenary: #cc0000;
$color-quartenary-dark: #990000;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #3C3C3C;
$color-grey-dark-4: #999;

$color-grey-light-1: #f4f2f2;
$color-grey-light-2: #DCDCDC;
$color-grey-light-3: #A9A9A9;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;