
// COLORS
$color-primary-light: #33adff;
$color-primary: #0099ff;
$color-primary-dark: #007ed2;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-grey-light-1: #f4f2f2;
$color-grey-light-2: #DCDCDC;
$color-grey-light-3: #A9A9A9;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;